/* DESKTOP */

@media screen and (min-width: 640px) {
    .explore-prev__button {
        @include button-principal;
        padding-left: 50px;
        padding-right: 50px;
        &:hover {
            @include button-hover;
        }
    }
    /*COEUR*/
    .restaurant-prev {
        i {
            @include heart;
            &:hover {
                @include Gradient;
            }
        }
    }
    .titrePageMenu {
        i {
            @include heart;
            &:hover {
                @include Gradient;
            }
        }
    }
    .explore-prev__buttonBottom {
        @include button-principal;
        margin: 50px 0% 150px 45%;
        padding-left: 50px;
        padding-right: 50px;
        &:hover {
            @include button-hover;
        }
    }
}


/* MOBILE */

@media screen and (max-width: 640px) {
    .explore-prev__button {
        @include button-principal;
        &:hover {
            @include button-hover;
        }
    }
    /*COEUR*/
    .restaurant-prev {
        i {
            @include heart;
            &:hover {
                @include Gradient;
            }
        }
    }
    .titrePageMenu {
        i {
            @include heart;
            &:hover {
                @include Gradient;
            }
        }
    }
    .explore-prev__buttonBottom {
        @include button-principal;
        margin: 50px 20% 150px 30%;
        padding-left: 50px;
        padding-right: 50px;
        &:hover {
            @include button-hover;
        }
    }
}