/* DESKTOP */

@media screen and (min-width: 640px) {
    .explore-prev__button {
        @include button-principal;
        padding-left: 50px;
        padding-right: 50px;
        &:hover {
            @include button-hover;
        }
    }
    /*COEUR*/
    .restaurant-prev {
        i {
            @include heart;
            &:hover {
                @include Gradient;
            }
        }
    }
    .titrePageMenu {
        i {
            @include heart;
            &:hover {
                @include Gradient;
            }
        }
    }
    .btnBottom {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .explore-prev__buttonBottom {
        @include button-principal;
        margin-top: 50px;
        margin-bottom: 150px;
        padding-left: 50px;
        padding-right: 50px;
        &:hover {
            @include button-hover;
        }
    }
}


/* MOBILE */

@media screen and (max-width: 640px) {
    .explore-prev__button {
        @include button-principal;
        &:hover {
            @include button-hover;
        }
    }
    /*COEUR*/
    .restaurant-prev {
        i {
            @include heart;
            &:hover {
                @include Gradient;
            }
        }
    }
    .titrePageMenu {
        i {
            @include heart;
            &:hover {
                @include Gradient;
            }
        }
    }
    .btnBottom {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .explore-prev__buttonBottom {
        @include button-principal;
        margin-top: 50px;
        margin-bottom: 150px;
        padding-left: 50px;
        padding-right: 50px;
        &:hover {
            @include button-hover;
        }
    }
}