@mixin heart {
    font-size: 1.5rem;
    font-weight: 100;
    color: #4F4F4F;
}

@mixin Gradient {
    font-weight: 900;
    color: rgb(147, 86, 220);
    display: block;
    background: -webkit-linear-gradient($primaire, $secondaire);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

@mixin button-hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 0.5;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}