.banniere-prev {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    &__module {
        color: black;
        width: 410px;
        height: 100px;
        margin-bottom: 15px;
        padding-left: 20px;
        border-radius: 15px;
        box-shadow: 0px 0px 20px 0px #f2f2f2;
        background-color: white;
        line-height: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
    }
}


/* IMAGE PAGE MENU2 RETOUCHE */

.imgRetouche {
    height: 50%;
}


/* TITRES H1 & H2 PAGES MENU */

.titrePageMenu {
    position: relative;
    display: flex;
    align-items: baseline;
    background-color: #ffff;
    margin-top: -70px;
    padding-top: 25px;
    border-radius: 70px;
    h1 {
        font-size: 1.5em;
        margin-left: 25px;
        padding-right: 50px;
    }
    i {
        font-size: 1.2em;
    }
}

.titleH2 {
    color: $gris;
    font-size: 1.2em;
    margin-left: 25px;
    width: 10%;
    font-weight: normal;
    @include border-bottom;
}