header {
    @include header-base;
    height: 100px;
    .headerTitrePageMenu {
        @include header-base;
        i {
            font-size: 1.2em;
        }
        h1 {
            margin-left: 40%;
            margin-right: 50%;
            justify-content: center;
        }
    }
}